%h3 Change your password
=form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "container form-horizontal" }) do |f|
	=devise_error_messages!
	=f.hidden_field :reset_password_token
	%div.form-group
		=f.label :password, "New password", {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
  			=f.password_field :password, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		= f.label :password_confirmation, "Confirm new password", {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.password_field :password_confirmation, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			=f.submit :class => "btn btn-primary", :value => "Change Password"
= render "devise/shared/links"