%br
%h3
	Sign in to your Account
= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {:class => "form-horizontal", :role => 'form'}) do |f|
	%div.form-group
		= f.label :email, 'Email', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			= f.email_field :email, {:class => 'form-control', :id => 'inputEmail', :placeholder => "someone@example.com"}

	%div.form-group
		= f.label :password, 'Password', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			= f.password_field :password, {:class => 'form-control', :placeholder => "Password"}
	- if devise_mapping.rememberable?
		%div.form-group
			=f.label :remember_me, 'Remember Me', :class => "control-label col-lg-2"
			%div.col-lg-3
				=f.check_box :remember_me, class: "form-control"
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			= f.submit "Sign in", {:class => 'btn btn-default'}