/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


 
#container {
  width: 320px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

body {
  background-color: #FFFFFF;
  background-image: url(/assets/pattern_bg.gif);
  color: #000000;
  font-family: Arial;
  font-size: 13px;
  margin: 0; }

/*LOGO*/
#logo {
  position: relative;
  top: 80px;
  width: auto;
  height: auto;
  border: #FFFFFF solid 0px; }

hr {
  position: relative;
  top: 85px;
  width: 210px;
  border-top: solid #0babe5 0px;
  border-left: solid #0babe5 0px;
  border-right: solid #0babe5 0px;
  border-bottom: solid #0babe5 1px; }

/*COMING SOON*/
#coming_soon {
  position: relative;
  top: 85px;
  width: auto;
  height: auto;
  color: #555;
  font-family: Arial;
  font-size: 36px; }

/*CONTACT US*/
#contact_us {
  position: relative;
  left: 0px;
  top: 100px;
  width: auto;
  height: auto; }

#wb_uid2 {
  color: #555;
  font-family: Arial;
  font-size: 16px; }

#wb_uid3 {
  color: #0babe5;
  font-family: Arial;
  font-size: 16px; }

/*ICON PACKAGE*/
#icon_package a {
  position: relative;
  padding: 10px;
  left: 0px;
  top: 140px;
  width: auto;
  height: auto;
  color: #ececec;
  font-family: Arial;
  font-size: 16px;
  border-radius: 10px;
  background-color: #444; }

a {
  text-decoration: none; }

#icon_package a img {
  margin: -4px;
  margin-left: 2px;
  margin-right: 2px;
  border: #FFFFFF solid 0px; }
