%h3.text-center.page-header
  = "Editing This Banner => #{@editBanners.title}" 
= form_for :banners, url:{action: "updateBanners"}, html:{:class => "form-horizontal"} do |f|
  -if @editBanners.errors.any?
    %div#error_explanations
      %h3
        -@editBanners.errors.count
        = "Probihited Error"
      %ul
        - @editBanners.errors.full_messages.each do |p|
          %li
            = p
  %div.form-group
    =f.label 'Banner Title', {:class => 'col-lg-2 control-label'}
    %div.col-lg-4
      = f.text_field :title, {:class => 'form-control', :value => @editBanners.title}
  %div.form-group
    =f.label 'Banner Title', {:class => 'col-lg-2 control-label'}
    %div.col-lg-4
      = f.text_field :descriptions, {:class => 'form-control', :value => @editBanners.descriptions}
  %div.form-group
    %div.col-lg-offset-2.col-lg-10
      = f.submit "Update", :class => "btn btn-primary"
      = link_to 'All News', banners_index_path, :class => "btn btn-primary"
