%h1.text-center.page-header
	All Banners
%h3.text-center
	Create New Banner
	= link_to 'Add Banner', banners_new_path, :class => "btn btn-primary"
	|
	= link_to 'Add Testimonials', testimonials_new_path, :class => "btn btn-primary"
	|
	= link_to 'Add News', news_new_path, :class => "btn btn-primary"
	=# link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary"
%table.table.table-hover.table-condensed.text-center
	%tr
		%th.text-center
			Banner Title
		%th.text-center
			
			Banner Descriptions
		%th.text-center
			Options
	- @banners.each do |f|
		%tr
			%td 
				= f.title
			%td 
				= f.descriptions 
			%td
				= link_to banners_editBanners_path(f.id) do
					= content_tag :button, :class => "btn btn-primary" do
						= content_tag :apan, class: "glyphicon glyphicon-pencil" do
							=""
				|
				= link_to banners_destroy_path(f.id), method: :delete, data: { :confirm => 'Are you sure?' } do
					= content_tag :button, :class => "btn btn-danger" do
						= content_tag :span, class: "glyphicon glyphicon-remove" do
							=""