%h1.text-center.page-header
	Add Banner
= form_for :banners, url:{action: "createBanners"}, html:{:class => "form-horizontal"} do |f|
	-if @banners.errors.any?
		%div#error_explanations
			%h3
				-@banners.errors.count
				= "Probihited Error"
			%ul
				- @banners.errors.full_messages.each do |p|
					%li
						= p
	%div.form-group
		= f.label 'Banner Title', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			= f.text_field :title, {:class => "form-control"} 
	%div.form-group
		= f.label 'Banner Description', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			= f.text_field :descriptions, {:class => "form-control"} 	
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			= f.submit "Save", :class => "btn btn-primary"
			= link_to 'Back', banners_index_path, :class => "btn btn-primary"