<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Sci Tech</title>
	<meta name="generator" content="WYSIWYG Web Builder 9 Trial Version - http://www.wysiwygwebbuilder.com">
	<link href="style.css" rel="stylesheet" type="text/css">

</head>

<body>

	<div id="container">
		
		<div id="logo"><%= image_tag "logo1.png" %></div>
		<hr>

		<div id="coming_soon">Coming Soon</div>

		<div id="contact_us">
			
			<span id="wb_uid2">
				Contact us
			</span>

			<span id="wb_uid3">

				 <%= mail_to "info@stis.pk" %>
			
			</span>

		</div>


	</div>

</body>

</html>