%h3.text-center.page-header
  = "Editing This News => #{@editNews.text}" 
= form_for :news, url:{action: "update"}, html:{:class => "form-horizontal"} do |f|
  -if @editNews.errors.any?
    %div#error_explanations
      %h3
        -@editNews.errors.count
        = "Probihited Error"
      %ul
        - @editNews.errors.full_messages.each do |p|
          %li
            = p
  %div.form-group
    =f.label 'News Title', {:class => 'col-lg-2 control-label'}
    %div.col-lg-4
      = f.text_field :newsTitle, {:class => 'form-control', :value => @editNews.newsTitle}
  %div.form-group
    =f.label 'News Descriptions', {:class => 'col-lg-2 control-label'}
    %div.col-lg-4
      = f.text_field :text, {:class => 'form-control', :value => @editNews.text}
  %div.form-group
    %div.col-lg-offset-2.col-lg-10
      = f.submit "Update", :class => "btn btn-primary"
      = link_to 'All News', news_index_path, :class => "btn btn-primary"
