%h1.text-center.page-header
	All News
%h3.text-center
	Add New News
	= link_to 'Add News', news_new_path, :class => "btn btn-primary"
	|
	= link_to 'Add Testmonials', testimonials_new_path, :class => "btn btn-primary"
	|
	= link_to 'Add Banners', banners_new_path, :class => "btn btn-primary"
	=# link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary"
%table.table.table-hover.table-condensed.text-center
	%tr
		%th.text-center
			News Title
		%th.text-center
			News Descriptions
		%th.text-center
			Time
		%th.text-center
			Options
	- @news.each do |f|
		%tr
			%td
				= f.newsTitle
			%td 
				= f.text
			%td 
				= f.created_at 
			%td
				= link_to news_edit_path(f.id) do
					= content_tag :button, :class => "btn btn-primary" do
						= content_tag :apan, class: "glyphicon glyphicon-pencil" do
							=""
				|
				= link_to news_destroy_path(f.id), method: :delete, data: { :confirm => 'Are you sure?' } do
					= content_tag :button, :class => "btn btn-danger" do
						= content_tag :span, class: "glyphicon glyphicon-remove" do
							=""