%h1.text-center.page-header
	Add News
= form_for :news, url: news_create_path, html:{:class => "form-horizontal"} do |f|
	-if @news.errors.any?
		%div#error_explanations
			%h3
				-@news.errors.count
				= "Probihited Error"
			%ul
				- @news.errors.full_messages.each do |p|
					%li
						= p
	%div.form-group
		= f.label 'News Title', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			= f.text_field :newsTitle, {:class => "form-control"} 
	%div.form-group
		= f.label 'News Descriptions', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			= f.text_field :text, {:class => "form-control"} 
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			= f.submit "Save", :class => "btn btn-primary"
			= link_to 'Back', news_index_path, :class => "btn btn-primary"
