%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name),  :html => {:class => "form-horizontal" }) do |f|
	=devise_error_messages!
	%div.form-group
		=f.label :firstName, 'First Name', {:class => 'col-lg-2 control-label'}
		/
			%span.error-error
				- if not (resource.errors[:firstName].blank?)
					=resource.errors[:firstName].to_s
		%div.col-lg-3
			=f.text_field :firstName, {:class => 'form-control' , :placeholder => "John"}
	%div.form-group
		=f.label :lastName, 'Last Name', {:class => 'col-lg-2 control-label'}
		/
			%span.error-message
				- if not (resource.errors[:firstName].blank?)
					=resource.errors[:firstName].to_s
		%div.col-lg-3
			=f.text_field :lastName, {:class => 'form-control', :placeholder => "Carter"}
	%div.form-group
		=f.label :email, 'Email', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.email_field :email, {:class => 'form-control', :placeholder => "someone@example.com"}
	%div.form-group
		=f.label :password, 'Password', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.password_field :password, {:class => 'form-control', :placeholder => "********"}
	%div.form-group
		=f.label :password_confirmation, 'Password Confirmation', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.password_field :password_confirmation, {:class => 'form-control', :placeholder => "********"}
	%div.form-group
		=f.label :userName, 'User Name', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :userName, {:class => 'form-control', :placeholder => "John Carter"}
	%div.form-group
		=f.label :country, 'Country', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :country, {:class => 'form-control', :placeholder => "Pakistan"}
	%div.form-group
		=f.label :city, 'City', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :city, {:class => 'form-control', :placeholder => "Lahore"}
	%div.form-group
		=f.label :address, 'Address', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :address, {:class => 'form-control', :placeholder => "29 Asif Block"}
	%div.form-group
		=f.label :contactNumber, 'Contact Number',  {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :contactNumber, {:class => 'form-control', :placeholder => "032312345678"}
	%div.form-group
		=f.label :organization, 'Organization', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :organization, {:class => 'form-control', :placeholder => "UOL"}
	%div.form-group
		=f.label :postleCode, 'Postle Code', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :postleCode, {:class => 'form-control', :placeholder => "54000"}
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			=f.submit :class => "btn btn-primary", :value => "Sign Up"