// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container
{
   width: 320px;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
body
{
   background-color: #FFFFFF;
   background-image: asset-url("pattern_bg.gif", image);
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
}
/*LOGO*/
#logo
{	
   position: relative;
   top: 80px;
   width: auto;
   height: auto;
   border:#FFFFFF solid 0px;
}
hr
{
   position: relative; 
   top: 85px;
   width: 210px;
   border-top:solid #0babe5 0px;
   border-left:solid #0babe5 0px;
   border-right:solid #0babe5 0px;
   border-bottom:solid #0babe5 1px;
}
/*COMING SOON*/
#coming_soon
{
   position:relative;
   top: 85px;
   width: auto;
   height: auto;
   color: #555;
   font-family: Arial;
   font-size: 36px;
}

/*CONTACT US*/
#contact_us
{
   position: relative;
   left: 0px;
   top: 100px;
   width: auto;
   height: auto;
}
#wb_uid2
{
   color: #555;
   font-family: Arial;
   font-size: 16px;
}
#wb_uid3
{
   color: #0babe5;
   font-family: Arial;
   font-size: 16px;
}

/*ICON PACKAGE*/
#icon_package a
{
   position: relative;
   padding:10px;
   left: 0px;
   top: 140px;
   width: auto;
   height: auto;
   color:#ececec;
   font-family: Arial;
   font-size:16px;
   border-radius:10px;
   background-color: #444;
}
a
{
  text-decoration:none;
}
#icon_package a img
{
   margin: -4px;
   margin-left: 2px;
   margin-right: 2px;
   border:#FFFFFF solid 0px;
}
