%h3.text-center.page-header
  = "Editing This Clint Info => #{@editTestimonials.clintsName}" 
= form_for :testimonials, url:{action: "updateTestimonials"}, html:{:class => "form-horizontal"} do |f|
  -if @editTestimonials.errors.any?
    %div#error_explanations
      %h3
        -@editTestimonials.errors.count
        = "Probihited Error"
      %ul
        - @editTestimonials.errors.full_messages.each do |p|
          %li
            = p
  %div.form-group
    =f.label 'Clint Name', {:class => 'col-lg-2 control-label'}
    %div.col-lg-4
      = f.text_field :title, {:class => 'form-control', :value => @editTestimonials.clintsName}
  %div.form-group
    =f.label 'clints Descriptions', {:class => 'col-lg-2 control-label'}
    %div.col-lg-4
      = f.text_field :clintsDescriptions, {:class => 'form-control', :value => @editTestimonials.clintsDescriptions}
  %div.form-group
    %div.col-lg-offset-2.col-lg-10
      = f.submit "Update", :class => "btn btn-primary"
      = link_to 'All News', testimonials_index_path, :class => "btn btn-primary"
