%h1.text-center.page-header
	All Testmonials
%h3.text-center
	Create New Clints
	= link_to 'Add Testimonials', testimonials_new_path, :class => "btn btn-primary"
	|
	= link_to 'Add News', news_new_path, :class => "btn btn-primary"
	|
	= link_to 'Add Banners', banners_new_path, :class => "btn btn-primary"
	=# link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary"
%table.table.table-hover.table-condensed.text-center
	%tr
		%th.text-center
			Clints Name
		%th.text-center
			Clints Descriptions
		%th.text-center
			Options
	- @testimonials.each do |f|
		%tr
			%td 
				= f.clintsName
			%td 
				= f.clintsDescriptions 
			%td
				= link_to testimonials_editTestimonials_path(f.id) do
					= content_tag :button, :class => "btn btn-primary" do
						= content_tag :apan, class: "glyphicon glyphicon-pencil" do
							=""
				|
				= link_to testimonials_destroy_path(f.id), method: :delete, data: { :confirm => 'Are you sure?' } do
					= content_tag :button, :class => "btn btn-danger" do
						= content_tag :span, class: "glyphicon glyphicon-remove" do
							=""