%h1.text-center.page-header
	Add clints Info
= form_for :testimonials, url:{action: "createTestimonials"}, html:{:class => "form-horizontal"} do |f|
	-if @testimonials.errors.any?
		%div#error_explanations
			%h3
				-@testimonials.errors.count
				= "Probihited Error"
			%ul
				- @testimonials.errors.full_messages.each do |p|
					%li
						= p
	%div.form-group
		= f.label 'Clint Name', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			= f.text_field :clintsName, {:class => "form-control"} 
	%div.form-group
		= f.label 'Clints Description', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			= f.text_field :clintsDescriptions, {:class => "form-control"} 	
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			= f.submit "Save", :class => "btn btn-primary"
			= link_to 'Back', testimonials_index_path, :class => "btn btn-primary"