<!DOCTYPE html>
%html
	%head
		%title SciTech
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		/
			-if admin_signed_in?
				=# render "shared/header"
				=link_to "Edit Account", edit_admin_registration_path, :method => :get, :class => "btn btn-primary"
				%h3.text-center.page-header
					You have succesfully signed in
				=link_to "Sign Out", destroy_admin_session_path, :method => :delete, :class => "btn btn-primary"
			-else
				%h1.text-center.page-header
					Welcome to Scitech It Services
				%div.text-center
					=link_to "Sign In", new_admin_session_path, :method => :get, :class => "btn btn-primary"
					|
					=link_to "Sign up", new_admin_registration_path, :method => :get, :class => "btn btn-primary"
		= yield